* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-background-color:#C66E4E;
    --nav-text-color: white;
    --nav-font-family: "Comic Sans MS", "Comic Sans";
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --h1-color: darkblue;
}

nav {
    background-color: var(--nav-background-color);
    padding-inline: 10px;
    font-family: var(--nav-font-family);
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--h1-color);
    font-family: var(--nav-font-family);
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    font-family: var(--nav-font-family);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px ;
    color: grey;
    position: relative;
    top: -50px;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 70px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    position: relative;
    /*color: var(--h1-color); deciding if I should have it blue or not*/
}

body {
    background-color: #f8dbd1;
    font-family: var(--nav-font-family);
}


em {
    color: var(--h1-color);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    font-family: var(--nav-font-family);
}

/* CSS class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #ed9879;
    color: var(--nav-text-color);
}